<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  
</div>
<!-- <input name='firstinput' [ngModel]='title'/>
<input name='firstinput' [(ngModel)]='title'/>
<input name='firstinput' [ngModel]='title' (input)='inputChange($event.target.value)'/>
<app-first></app-first>
<app-second></app-second> -->
<!-- <app-parent>
</app-parent> -->
<!-- <app-rform></app-rform> -->
<!-- <app-directive></app-directive> -->
 <router-outlet></router-outlet> 